/* Chat CSS Start */
.chat {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 1px;
    border-color: #CCC;
    border-radius: 10px;
}

.chat_header {
    align-self: center;
}

.message_holder {
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 500px;
    overflow-y: scroll;
}

.message {
    padding-left: 5px;
}

.input_form {
    margin: 10px;
}

b {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container {
    display:flex;
    flex-direction: row;
}
/* Chat CSS End */

/* Monopoly Board css */

#board {
    display: none;
    border: 2px solid black;
    border-spacing: 3px;
    margin: 25px;
    float: left;
}

.cell {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
    border: 1px solid black;
    text-align: center;
}

.board-center {
    width: 675px;
    border: none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
}

.board-corner {
    width: 102px;
    height: 102px;
}

.board-top {
    width: 75px;
    height: 102px;
}

.board-bottom {
    width: 75px;
    height: 102px;
}

.board-left {
    width: 72px;
    height: 102px;
}

.board-right {
    width: 72px;
    height: 102px;
}

#jail {
    border: 1px solid black;
    text-align: center;
}

#eletric {
    float: top;
}

#freeparking {
    width: 100px;
    height: 84px;
}

#police {
    width: 102px;
    height: 84px;
}

#incometax{
    width: 53px;
    height: 50px;
}

#cell1 {
    font-size: 9pt;
}

div.cellcolor1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #6c2415 ;
}

div.cellcolor2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #98d6e2 ;
}

div.cellcolor3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color:  #f36ad4;
}

div.cellcolor4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #fe921f;
}

div.cellcolor5 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #DC143C;
}

div.cellcolor6 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #fefe1f;
}

div.cellcolor7 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #11a42e;
}

div.cellcolor8 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #0e25a4;
}

div.jailcell {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 40px;
}

div.injail {
    top: 0;
    right: 0;
    width: 80%;
    height: 20px;
}

div.spotp {
    border: 2px solid black;
    width: 95%;
    height: 30px;
}

div.spotc {
    border: 2px solid black;
    width: 95%;
    height: 20px;
}

/* Monopoly Board End */