/* Chat CSS Start */
.chat {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 1px;
    border-color: #CCC;
    border-radius: 10px;
}

.chat-header {
    align-self: center;
}

.message-holder {
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 500px;
    overflow-y: scroll;
}

.message {
    padding-left: 5px;
    width: 374px;
}

.input-form {
    margin: 10px;
}

b {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.container {
    display:flex;
    flex-direction: row;
}
/* Chat CSS End */

/* Monopoly Board css Start*/

.board-div {
    display: flex;
    justify-content: center;
}
/* Monopoly Board css */

#board {
    display: none;
    border: 2px solid black;
    border-spacing: 3px;
    margin: 25px;
    float: left;
    z-index: 1;
}

.cell {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
    border: medium solid black;
    text-align: center;
}

.board-center {
    width: 675px;
    border: none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
}

.board-corner {
    width: 102px;
    height: 102px;
}

.board-top {
    width: 75px;
    height: 102px;
}

.board-bottom {
    width: 75px;
    height: 102px;
}

.board-left {
    width: 72px;
    height: 102px;
}

.board-right {
    width: 72px;
    height: 102px;
}

#jail {
    border: 1px solid black;
    text-align: center;
}

#eletric {
    float: top;
}

#freeparking {
    width: 100px;
    height: 84px;
}

#police {
    width: 102px;
    height: 84px;
}

#incometax{
    width: 53px;
    height: 50px;
}

#cell1 {
    font-size: 9pt;
}

.cellcolor1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #6c2415 ;
}

.cellcolor2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #98d6e2 ;
}

.cellcolor3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color:  #f36ad4;
}

.cellcolor4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #fe921f;
}

.cellcolor5 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #DC143C;
}

.cellcolor6 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #fefe1f;
}

.cellcolor7 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #11a42e;
}

.cellcolor8 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #0e25a4;
}

.jailcell {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 40px;
}

.visit {
    width: 80%;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.visit:after {
    position: absolute;
    z-index: -1;
    content: "Just Visiting";
    margin-left: 10px;
}

.injail {
    position: absolute;
    top: 80px;
    right: 0px;
    border: 1px solid black;
    width: 80%;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.injail:after {
    position: absolute;
    z-index: -1;
    content: "In Jail";
    margin-left: 20px;
}

.spotp {
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.spotc {
    width: 95%;
    height: 20px;
    display: flex;
    flex-direction: row;
}

/* Monopoly Board End */

/* Player Stat and money Start */
.moneybarcell1 {
    border: 3px solid;
    border-color: #0000FF;
    background-color: white;
}

.moneybarcell2 {
    border: 3px solid;
    border-color: #FFA500;
    background-color: white;
}

.moneybarcell3 {
    border: 3px solid;
    border-color: #FF6347;
    background-color: white;
}

.moneybarcell4 {
    border: 3px solid;
    border-color: #FFF000;
    background-color: white;
}

.moneybarcell5 {
    border: 3px solid;
    border-color: #228C22;
    background-color: white;
}

.moneybarcell6 {
    border: 3px solid;
    border-color: #800080;
    background-color: white;
}
/* Player Stat and money End*/

/* Players pieces, card, and dices display Start*/
.game-display {
    z-index: 2;
    position: absolute;
    border: 2px solid black;
    width: 20%;
    height: 30%;
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.cards {
    margin-left: 8%
}

.dice {
    margin-left: 33%;
}

.dice-button {
    margin-left: 8%;
}

.gamePiece {
    z-index: 3;
    width: 20px;
    height: 20px;
}
/* Players pieces, card, and dices display End*/