.chat {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    width: 500px;
    height: 600px;
    border: solid;
    border-width: 1px;
    border-color: #CCC;
    border-radius: 10px;
}

.chat_header {
    align-self: center;
}

.message_holder {
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 500px;
    overflow-y: scroll;
}

.message {
    padding-left: 5px;
}

.input_form {
    margin: 10px;
}

.container {
    display:flex;
    flex-direction: row;
}

#board {
    display: none;
    border: 2px solid black;
    border-spacing: 3px;
    margin: 25px;
    float: left;
}

.cell {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
    border: 1px solid black;
    text-align: center;
}

.board-center {
    width: 675px;
    border: none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
}

.board-corner {
    width: 102px;
    height: 102px;
}

.board-top {
    width: 72px;
    height: 102px;
}

.board-bottom {
    width: 72px;
    height: 102px;
}

.board-left {
    width: 72px;
    height: 102px;
}

.board-right {
    width: 72px;
    height: 102px;
}

#jail {
    border: 1px solid black;
    text-align: center;
}

#eletric {
    float: top;
}

#go {
    width: 102px;
    height: 84px;
}

#fp {
    width: 102px;
    height: 84px;
}

#police {
    width: 102px;
    height: 84px;
}

#incometax{
    width: 53px;
    height: 50px;
}