.chat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

.message_holder {
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.message {
    padding-left: 5px;
}

.input_form {
    margin: 10px;
}