<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monopoly</title>
    <link rel="stylesheet" href="/static/indexstyle.css">
    <link rel="shortcut icon" href="/static/monopoly%20icon.png">
</head>
<body>
    <div class="container">
    <div class="chat">
        <h3 class="chat_header">Player Chat</h3>
        <div class="message_holder"></div>
        <form class="input_form" action="" method="POST">
            <input class="message" placeholder="Type a message"/>
            <input type="submit"/>
        </form>
    </div>

    <!-- jQuery source for the JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js" integrity="sha512-tXH7Av8en7+/hg0XwBppaCDPmpJhUXbZ+j7lNC4y+ZQpmCZQcgQN6RjkM7Irj1MUW7bZengfuTOqR4RzCC4bnA==" crossorigin="anonymous"></script>
    <script src="/static/chatcode.js"></script>

        <table id="board" style="display: table;">
            <tbody>
                <tr>
                    <td class="cell board-corner" id="cell20">
                        <div><img src="/static/Images/fp.jpeg" id="fp" alt="Free Parking"></div>
                    </td>
                    <td class="cell board-top" id="cell21">
                        <div class="cellcolor" id="cellcolor"></div>
                        Kentucky Avenue $220</td>
                    <td class="cell board-top" id="cell22">
                        <div><img src="/static/Images/chance.png" id="chance" alt="Chance"></div>
                        Chance</td>
                    <td class="cell board-top" id="cell23">
                        <div class="cellcolor" id="cellcolor"></div>
                        Indiana Avenue $220</td>
                    <td class="cell board-top" id="cell24">
                        <div class="cellcolor" id="cellcolor"></div>
                        Illinois Avenue $240</td>
                    <td class="cell board-top" id="cell25">
                        <div><img src="/static/Images/train.png" id="train" alt="Train"></div>
                        B & O Railroad $200</td>
                    <td class="cell board-top" id="cell26">Atlantic Avenue $260</td>
                    <td class="cell board-top" id="cell27">Ventnor Avenue $260</td>
                    <td class="cell board-top" id="cell28"><img src="/static/Images/water.png" id="water" alt="Water Works">Water Works $150</td>
                    <td class="cell board-top" id="cell29">Marvin Gardens $280</td>
                    <td class="cell board-corner" id="cell30"><img src="/static/Images/police.png" id="police" alt="police">Go To Jail</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell19">New York Avenue $200</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell31">Pacific Avenue $300</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell18">Tennessee Avenue $180</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell32">North Carolina Avenue $300</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell17"><img src="/static/Images/community_chest.png" id="CC" alt="CC">Community Chest</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell33"><img src="/static/Images/community_chest.png" id="CC" alt="CC">Community Chest</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell16">St. James Place $180</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell34">Pennsylvania Avenue $320</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell15">
                        <div><img src="/static/Images/train.png" id="train" alt="Train"></div>
                        Pennsylvania Railroad $200</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell35">
                        <div><img src="/static/Images/train.png" id="train" alt="Train"></div>
                        Short Line $200</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell14">Virginia Avenue $160</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell36">
                        <div><img src="/static/Images/chance.png" id="chance" alt="Chance"></div>
                        Chance</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell13">States Avenue $140</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell37">Park Place $350</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell12">
                        <div><img src="/static/Images/electric.png" id="electric" alt="Electric Company"></div>
                        Electric Company $150</td>
                    <td colspan="9" class="board-center"></td>
                    <td class="cell board-right" id="cell38"><img src="/static/Images/luxury_tax.png" id="luxurytax"  alt="Luxury Tax">Luxury Tax PAY $100</td>
                </tr>

                <tr>
                    <td class="cell board-left" id="cell11">St. Charles Place $140</td>
                    <td colspan="9" class="board-center">
                        <!--<div id="jail"><img src="/static/Images/behind_bars.png" id="injail"  alt="jail">In Jail</div>-->
                    </td>
                    <td class="cell board-right" id="cell39">Boardwalk $400</td>
                </tr>

                <tr>
                    <td class="cell board-corner" id="cell10">Just Visiting</td>
                    <td class="cell board-bottom" id="cell9">Connecticut Avenue $120</td>
                    <td class="cell board-bottom" id="cell8">Vermont Avenue $100</td>
                    <td class="cell board-bottom" id="cell7"><img src="/static/Images/chance.png" alt="Chance">Chance</td>
                    <td class="cell board-bottom" id="cell6">Oriental Avenue $100</td>
                    <td class="cell board-bottom" id="cell5">
                        <div><img src="/static/Images/train.png" id="train" alt="Train"></div>
                        Reading Railroad $200</td>
                    <td class="cell board-bottom" id="cell4"><img src="/static/Images/income_tax.png" id="incometax"  alt="Income Tax">Income Tax PAY $200</td>
                    <td class="cell board-bottom" id="cell3">Baltic Avenue $60</td>
                    <td class="cell board-bottom" id="cell2"><img src="/static/Images/community_chest.png" alt="CC">Community Chest</td>
                    <td class="cell board-bottom" id="cell1">Mediterranean Avenue $60</td>
                    <td class="cell board-corner" id="cell0"><img src="/static/Images/go_arrow.png" id="go" alt="GO">GO</td>
                </tr>

            </tbody>
        </table>
    </div>
    </body>
</html>